<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!-- Criado pelo Zé-->
<html xmlns="http://www.w3.org/1999/xhtml"> <!-- Não me lembro -->
	<head>
		<title>	</title>
		<link rel="stylesheet" href="css/style.css" type="text/css">
	</head>
	<body>
		<div id="container">
			<div id="main">
				<div id= "header">
					<div id="logo"></div>
					<h1> Faculdade Impacta </h1>
					<h2> GAC - Gestão de Atividades Complementares </h2>
					
				</div>
				<div id="menu">
					<ul>
						<li>
							<a href="#">Aluno</a>
						</li>
						<li>
							<a href="#">Coordenador</a>
						</li>
						<li>
							<a href="#">Administrador</a>
								
						</li>
						<li>
							<a href="#">Cursos</a>
						</li>					
						<li class="last">
							<a href="#">Categorias</a> <!-- Qual o motivo da classe aqui???-->
							
						</li>					
					</ul><!--tyyuy-->
				</div>
				<div id="content">
					<div id="breadcrumb">
						<a href="#">Administrador</a> ::
						<a href="#">Usuários</a>
					</div>
					
					
						<div class = "title">
							<h3 class="user"> Usuários </h3>
							<div class = "actions">
								<a href="#">Inserir</a>
								<a href="#">Exluir</a>
							</div>
							
						</div>
							
						<table class="result" border="0" cellspacing="0"> 
							<thead>
								<tr> 
									<td class="check"></td>
									<td> Nome do usuário </td>
									<td> Situação </td>
									<td> Data de Cadastro </td>
									<td> Ação </td>
								</tr>
							</thead>
							<tbody>
								<tr> 
									<td class="check"><input type="checkbox"/></td>
									<td> Suzane </td>
									<td> Ativa </td>
									<td> 13/12/2011 </td>
									<td>[ <a href = "#">Editar</a> ]</td>
								</tr>
								<tr> 
									<td class="check"><input type="checkbox"/></td>
									<td> Suzane </td>
									<td> Ativa </td>
									<td> 13/12/2011 </td>
									<td>[ <a href = "#">Editar</a> ]</td>
								</tr>
							</tbody>
						</table>
						
								<ul class="fields">
							<li>
								<label for="nome">Nome:</label><input type="text" />
							</li>
							<li>
								<label for="endereco">Grupo de Usuários:</label><input type="text" />
							</li>
							<li>
								<label for="Senha">Endereço:</label><input type="text" />
							</li>
							
						</ul>
						
						
						
						
						
						
				</div>
						
				<div id= "footer">
					<p> Desenvolvido pelo Loren Ipsun</p>
				</div>
			</div>		
		</div>
	</body>
</html>