<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>	</title>
		<link rel="stylesheet" href="css/style.css" type="text/css">
	</head>
	<body>
		<div id="container">
			<div id="main">
				<div id= "header">
					<div id="logo"></div>
					<h1> Faculdade Impacta </h1>
					<h2> GAC - Gestão de Atividades Complementares </h2>
					
				</div>
				<div id="menu">
					<ul>
						<li>
							<a href="#">Aluno</a>
						</li>
						<li>
							<a href="#">Coordenador</a>
						</li>
						<li>
							<a href="#">Administrador</a>
								
						</li>
						<li>
							<a href="#">Cursos</a>
						</li>					
						<li class="last">
							<a href="#">Categorias</a>
							
						</li>					
					</ul><!--tyyuy-->
				</div>
				<div id="content">
					<div id="breadcrumb">
						<a href="#">Administrador</a> ::
						<a href="#">Usuários</a>
					</div>
					
					
						<div class = "title">
							<h3 class="user"> Usuários </h3>
							<div class = "actions">
								<a href="#">Inserir</a>
								<a href="#">Salvar</a>
							</div>
							
						</div>
						<ul class="fields">
							<li>
								<label for="nome">Nome:</label><input type="text" />
							</li>
							<li>
								<label for="endereco">Grupo de Usuários:</label><input type="text" />
							</li>
							<li>
								<label for="Senha">Endereço:</label><input type="text" />
							</li>
							
						</ul>
					
				</div>
						
				<div id= "footer">
					<p> Desenvolvido pelo Loren Ipsun</p>
				</div>
			</div>		
		</div>
	</body>
</html>